/* body {
    height: 100vh;
    width: 100%;
    margin: 0;
    padding: 0;
    background-color: rgb(221, 255, 201);
}

button {
    height: 99.86vh;
    width: 100%;
    background-color: bisque;
    border: none;
    position: absolute;
}

.text {
    display: flex;
    justify-content: center;
    align-content: center;

}
*/