* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.blob {
  height: 100px;
  width: 100px;
  background-color: greenyellow;
  border-radius: 100%;
}